<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "co.uk.atkinchris.allokate"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Allokate Game</name>

    <description>
        A puzzle game where you allocate pieces.
    </description>

    <author href="http://www.chrisatkin.co.uk" email="hi@chrisatkin.co.uk">
        Chris Atkin
    </author>

    <gap:platform name="android" />
</widget>