table, tr, th, td {
  vertical-align: middle;
}

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #FFFFFF;
  color: #515151;
  font: 3vmin bold;
}

.row,
.column {
  color: white;
  z-index: -1;
  background-color: #ACACAC;
  border-radius: 50%;
  width: 5vmin;
  height: 5vmin;
  text-align: center;
  margin: auto;
  line-height: 5vmin;
}

.row {
  margin-right: 3vmin;
}

.column {
  margin-bottom: 3vmin;
}

.piece {
  height: 9vmin;
  width: 9vmin;
  background-color: #00B4FF;
  border-radius: 25%;
  margin: 1vmin;
  opacity: 0.05;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.winner {
  opacity: 1;
  z-index: 10;
  border-radius: 50%;
  -webkit-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: scale(40,40);
  transform: scale(40,40);
}

.selected {
  opacity: 1;
}

.zero {
  background-color: #ececec;
}

#game-board {
  clear: both;
  margin: 6vmin auto;
}

#header {
  width: 75vmin;
  height: 4vmin;
  margin: 2vmin auto;
}

#header div {  
  display: inline-block;
}

#moves {
  float: right;
}

#par {
  float: left;
}

#moves div:last-child,
#par div:last-child {
  background-color: #ececec;
  border-radius: 50%;
  width: 4vmin;
  height: 4vmin;
  padding: 0.25em;
  line-height: 4vmin;
  text-align: center;
  margin-left: 1vmin;
}

#par div:last-child {  
  color: white;
  background-color: #00B4FF;
}

#congratulations {
  visibility: visible;
  opacity: 1;
  position: absolute;
  font: 8vmin sans-serif;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -30vmin;
  margin-top: -30vmin;
  width: 60vmin;
  height: 60vmin;
  z-index: 99;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: visibility 0s ease-in-out .5s, opacity .5s ease-in-out;
  transition: visibility 0s ease-in-out .5s, opacity .5s ease-in-out;
}

.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

#congratulations p {
  padding-top: 20vmin;
}

.button {
  color: #515151;
  margin-top: 25px;
  font-weight: bold;
  background-color: #fff;
  padding: 20px 70px;
  font-size: 24px;
}