table, tr, th, td {
  vertical-align: middle;
}

body {
  overflow: hidden;
}

.row,
.column {      
  opacity: 1;
  color: grey;
  font: 1.5em bold;
}

.piece {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: red;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  color: white;
  opacity: 0.05;
  font-size: 1.5em;
  transition: opacity .25s ease-in-out;
}

.selected {
  opacity: 1;
}

.zero {
  opacity: 0.5;
}

#game-board {
  margin: 50px auto;
}