table, tr, th, td {
  vertical-align: middle;
}

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Regular.ttf);
}

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #FFFFFF;
  color: #515151;
  font: 2.5vh bold;
}

.row,
.column {
  color: white;
  z-index: -1;
  background-color: #ACACAC;
  border-radius: 50%;
  width: 4.5vh;
  height: 4.5vh;
  text-align: center;
  margin: auto;
  line-height: 1.75em;
}

.row {
  margin-right: 2vh;
}

.column {
  margin-bottom: 2vh;
}

.piece {
  height: 8.5vh;
  width: 8.5vh;
  background-color: #00B4FF;
  border-radius: 25%;
  margin: 0.5vh;
  opacity: 0.05;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.winner {
  opacity: 1;
  z-index: 10;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: scale(40,40);
  transform: scale(40,40);
}

.selected {
  opacity: 1;
}

.zero {
  background-color: #ececec;
}

#game-board {
  clear: both;
  margin: 6vh auto;
}

#header {
  width: 40vh;
  height: 4vh;
  margin: 2vh auto;
  margin-bottom: 10vh;
}

#header div {  
  display: inline-block;
}

#moves {
  float: right;
}

#par {
  float: left;
}

#moves div:last-child,
#par div:last-child {
  background-color: #ececec;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  padding: 0.25em;
  line-height: 1.5em;
  text-align: center;
  margin-left: 1vh;
}

#par div:last-child {  
  color: white;
  background-color: #00B4FF;
}

#congratulations {
  visibility: visible;
  opacity: 1;
  position: absolute;
  font-size: 8vh;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -30vh;
  margin-top: -30vh;
  width: 60vh;
  height: 60vh;
  z-index: 99;
  background-color: white;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: visibility 0s ease-in-out .5s, opacity .5s ease-in-out;
  transition: visibility 0s ease-in-out .5s, opacity .5s ease-in-out;
}

.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

#congratulations p {
  padding-top: 16vh;
}

.button {
  color: #515151;
  margin-top: 25px;
  font-weight: bold;
  background-color: #fff;
  padding: 20px 70px;
  font-size: 24px;
}